@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
@import "https://unpkg.com/open-props";

:root {
  --primary: #fca300;
  --secundary: #072f5f;
  --light: #ffffff;
  --dark: #000;
}

html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------------------------------------------------------HOME SECTION---------------------------------------------------------------*/
body {
  display: flex;
  flex-direction: column;

}

.wrapper { 
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 0%;
}

.landing{
  height: 100vh;
  width: 100%;
  background-color: var(--primary);
}

.list-landing {
  display: flex;
  color: var(--light);
  height: 10vh;
  width: 20%;
  margin-top: 2rem;
  margin-left: 6rem;
  justify-content: space-evenly;
  font-size: 2rem;
  font-weight: 600;
  list-style: none;
  display: flex;
  align-items: center;
  z-index: 3;
}

a {
  text-decoration: none;
  color: var(--light);
  text-shadow: 0.08rem 0.08rem 0 var(--secundary),
    -0.08rem -0.08rem 0 var(--secundary);
}

.title-landing {
  position: absolute;
  font-size: 9rem;
  font-weight: 800;
  color: var(--light);
  left: 33%;
  top: 13%;
  line-height: 8.5rem;
  z-index: 3;
}

.title-landing span {
  text-shadow: 0.15rem 0.15rem 0 var(--secundary),
    -0.15rem -0.15rem 0 var(--secundary);
}

.logo-landing {
  position: absolute;
  left: 0rem;
  top: 14%;
  height: fit-content;
  width: fit-content;
}

.logo-landing img {
  height: 50rem;
  width: 40rem;
}

.pizza {
  position: absolute;
  top: 1.12%;
  right: 0%;
  z-index: 1;
}

.sm-list {
  display: flex;
  justify-content: end;
  width: 23%;
  list-style: none;
  position: absolute;
  right: 1.5rem;
  top: 43%;
}

.sm-list li {
  margin: 0.75rem;
}

.whatsapp a img {
  width: 5.5rem;
}

.facebook a img {
  width: 5.5rem;
}

.twitter a img {
  width: 5.5rem;
}

.instagram a img {
  width: 5.5rem;
}

.arrow {
  position: absolute;
  top: 44%;
  right: 48%;
  animation: var(--animation-float);
}

.separation1 {
  height: 90vh;
  width: 100%;
  color: var(--primary);
  z-index: -10;
}

/*-----------------------------------------------------------------HOME MEDIA QUERY----------------------------------------------------------*/

@media (max-width: 1025px) {
  .landing {
    width: 100%;
    height: 100%;
  }

  .title-landing {
    left: 10%;
    top: 5%
  }

  .logo-landing {
    display: none;
  }

  .sm-list {
    top: 43%;
  }

  .arrow {
    right: 47%;
    top: 43%;
  }
}

@media (max-width: 870px) {
  .landing {
    width: 100%;
    height: 100vh;
  }

  .logo-landing {
    display: none;
  }

  .arrow {
    display: none;
  }

  .title-landing {
    top: 13%;
    left: 5%;
  }
  .list-landing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sm-list {
    display: none;
  }
}

@media (max-width: 426px) {

  .landing {
    width: 100%;
    height: 100%;
  }

  .title-landing {
    font-size: 5.5rem;
    line-height: 5.8rem;
    top: 17%;
  }

  .pizza img {
    width: 23rem;
  }

  .sm-list {
    display: flex;
    flex-direction: row;
    left: 50%;
    top: 42%;
  }

  .whatsapp a img {
    width: 3.5rem;
  }

  .facebook a img {
    width: 3.5rem;
  }

  .twitter a img {
    width: 3.5rem;
  }

  .instagram a img {
    width: 3.5rem;
  }

}
/*-----------------------------------------------------------------ABOUT SECTION--------------------------------------------------------------*/

.about-page {
  background-image: url(images/Multimedia/Figma/about/Mobile/BG\ About.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.testing {
  height: 100vh;
  width: 100%;
}
